/* Estilos para el menú de navegación */
.configPanel {
    position: fixed; /* Establece la posición fija */
    top: 30%; /* Ubica el borde superior del div en el centro vertical */
    left: 32%; /* Ubica el borde izquierdo del div en el centro horizontal */
    transform: translate(-50%, -50%); /* Corrige el centrado ajustando el desplazamiento */
    background-color: rgba(255, 255, 255, 0); /* Color de fondo (cambia según tus necesidades) */
    border-radius: 5px;
    border-color: none;
    padding: 20px; /* Añade espacio interno al div (ajusta según tus necesidades) */
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}
.configPanel label {
    display: block;
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}

.configPanel p{
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}
.configPanel button {
    padding: 8px 16px;
    border-style:dotted;
    border-color: #ffffff;
    background-color: #00000000;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.configPanel button:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}
nav {
    display: flex;
    flex-direction: column; /* Mostrar elementos en columna */
    align-items: center;
    background-color: #000000;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
    border-radius: 10px 0 0 10px;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espacio entre elementos del menú */
}

nav button{

    text-decoration: none;
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    border-style: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espacio entre elementos del menú */

}
nav a:hover {
    background-color: #ddd;
    color: #000000;
    
}

nav button:hover{
    background-color: #ddd;
    color: #000000;
}
.node {
    cursor: pointer;
}
.node circle {
    fill: rgb(0, 0, 0);
    stroke: #ffffff;
    stroke-width: 2px;
}
.node text {
    font-size: 14px;
    fill: rgb(255, 255, 255);
    pointer-events: none; /* Evitar interacciones con el texto */
}
.link {
    stroke: #ccc;
    stroke-width: 2px;
}

.marked2 {
    stroke: #ffffff;
    stroke-width: 2px;
}

.marked { /* Estilo para aristas marcadas */
    stroke: rgb(0, 255, 0);
    stroke-width: 3px;
}

.marked-node { /* Estilo para nodos marcados */
    stroke: rgb(255, 255, 0) !important; /* Cambiar el color de relleno a verde */
}

#PanelCaminosHamiltonianos::-webkit-scrollbar {
width: 8px; /* Ancho de la barra de scroll */
}   

#PanelCaminosHamiltonianos::-webkit-scrollbar-track {
background-color: #f1f1f100; /* Color de fondo de la barra de scroll */
}

#PanelCaminosHamiltonianos::-webkit-scrollbar-thumb {
background-color: #888; /* Color del "pulgarcito" de la barra de scroll */
border-radius: 4px; /* Borde redondeado del "pulgarcito" */
}   

#PanelCaminosHamiltonianos a{
    color: rgb(255, 255, 255); /* Cambiar color de los enlaces */
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.highlighted {
    stroke: red;
    stroke-width: 4px;
}